@import '../../../../../../../assets/css/cliente/css/atlantis.css';
@import '../../../../../../../assets/css/cliente/css/demo.css';
.card .image {
    overflow: hidden;
    height: 200px;
    position: relative;
}