<div class="card">
    <div class="image">
        <img src="{{producto | noImage}}" alt="Card top image" class="card-img-top">
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h5><b>{{producto.nombre}}</b></h5>
                <p class="text-muted font-weight-bold">Stock: {{producto.stock}}</p>
            </div>
            <h3 class="text-info fw-bold">$ {{producto.precio |number:'1.2'}}</h3>
        </div>
        <div class="d-flex justify-content-between mt-2">
            <p class="text-muted mb-0"><b>Cantidad</b></p>
            <ul class="pagination pg-primary ">
                <li class="page-item ">
                    <button (click)="disminuir()" class="page-link " style="cursor: pointer;" aria-label="Previous ">
                        <span aria-hidden="true "><fa-icon [icon]="famenos"></fa-icon></span>
                    </button>
                </li>
                <li class="font-weight-bold"><button class="page-link text-primary font-weight-bold">{{cantidad}}</button></li>
                <li class="page-item ">
                    <button (click)="aumentar()" class="page-link" style="cursor: pointer;" aria-label="Next ">
                        <span aria-hidden="true "><fa-icon [icon]="faPlus"></fa-icon></span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-between mt-2">
            <p class="text-muted mb-0"><b>Categoría</b></p>
            <p class="text-muted mb-0">{{producto.categoria}}</p>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <button type="button" (click)="crearDetalle()" class="btn btn-icon btn-round btn-info">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>