<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="assets/img/home/logo/logo-black.svg">
            </div>
        </a>
        <a class="simple-text logo-normal">
        MiVeci
        </a>
    </div>
    <ul class="nav">
        <li routerLinkActive="active">
            <a routerLink="contenedor-negocios">
                <i></i>
                <p>Negocios</p>
            </a>
        </li>
    </ul>
</div>