<div class="row justify-content-end">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fa fa-money text-success"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Total a pagar</p>
                            <p class="card-title">$ {{ totalPago }}
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <div class="stats">
                    <hr>
                    <p>Los precios incluyen IVA.</p>
                </div>
            </div>
        </div>
    </div>
</div>