<div>
    <div class="card">
        <div class="image">
            <img src="{{ negocio.imagen }}">
        </div>
        <div class="card-header ">
            <h5 class="card-title">{{ negocio.nombre }}</h5>
            <i class="fa fa-circle text-warning"></i> {{ negocio.estado | estado }}
            <!--Para el estado hacer pipe-->
        </div>
        <div class="card-body">
            <p>
                {{ negocio.descripcion }}
            </p>
            <label>Horario: {{ negocio.horario }}</label>
            <hr>
            <span> <b>Delivery: </b> {{ negocio.delivery | deliveryReserva }}</span>
            <hr>
            <span><b>Reserva: </b> {{ negocio.reserva | deliveryReserva }}</span>
            <hr>
        </div>
        <div class="card-footer ">
            <div class="row">
                <div routerLinkActive="active" class="update ml-auto mr-auto">
                    <a (click)="enviarNombre(negocio.nombre)" routerLink="/Cliente/MainCliente/contenedor-productos/{{negocio.idNegocio}}" class="btn btn-info btn-round">Ver Poductos</a>
                </div>
            </div>
        </div>
    </div>
</div>