<section id="hero" class="d-flex align-items-center">
    <div id="carouselExampleIndicators" class=" container carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                        <h1>MI VECI<br>HA LLEGADO</h1>
                        <h2>Llego la aplicación web para el barrio<br>MI VECI tiene lo que necesitas<br>Tus tiendas más cercana estarán a tu<br>disposición<br><br>REGISTRATE Y SE PARTE DE NOSOTROS</h2>
                        <div class="d-lg-flex">
                            <a routerLink="/register" class="btn-register scrollto">REGISTRARSE</a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                        <img src="assets/img/home/slider/slider1.svg" class="slider img-fluid animated" alt="">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                        <h1>¿TUS VENTAS HAN BAJADO?</h1>
                        <h2>No te preocupes, con la aplicación Web MI VECI podrás promocionar tus productos a tus vecinos más cercanos<br><br>Solo REGISTRATE y se parte de la familia de VECI'S del barrio</h2>
                        <div class="d-lg-flex">
                            <a routerLink="/register" class="btn-register scrollto">REGISTRARSE</a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                        <img src="assets/img/home/slider/slider3.svg" class="slider img-fluid animated" alt="">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                        <h1>ADIÓS LARGAS FILAS</h1>
                        <h2>Deja a un lado las largas filas y al distanciamiento cuando vas a la tienda.<br><br>Con MI VECI podrás realizar tus pedidos y consultar si tu VECI cercano tiene delivery</h2>
                        <div class="d-lg-flex">
                            <a routerLink="/register" class="btn-register scrollto">REGISTRARSE</a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                        <img src="assets/img/home/slider/slider2.svg" class="slider img-fluid animated" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</section>