<div *ngIf="ban">
    <form>
        <div class="card">
            <div class="image">
                <img src="{{ producto.imagen }}" alt="Card top image" class="card-img-top">
            </div>
            <div class="card-header ">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <i class="fa fa-circle text-danger"></i> Stock: {{ producto.stock }}
            </div>
            <div class="card-body ">
                <div class="form-group">
                    <h6>Cuanto desea pedir</h6>
                    <input [(ngModel)]="cantidad" type="number" min="1" max="{{ producto.stock }}" class="form-control" placeholder="Cantidad" [ngModelOptions]="{standalone: true}" />
                </div>
                <label>Precio: {{ producto.precio }}</label>
                <hr>
                <i class="fa fa-circle text-primary"></i> Categoría: {{ producto.categoria }}
            </div>
            <div class="card-footer ">
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <a (click)="addDetalle(producto.idProducto, producto.nombre, producto.precio)" class="btn btn-warning btn-round"> <i class="fa fa-shopping-cart"></i>Añadir</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>