<div class="row justify-content-between">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="row justify-content-around">
                    <div class="col-5 col-md-auto">
                        <div class="icon-big text-center icon-warning">
                            <i class="fa fa-minus-circle text-danger"></i>
                        </div>
                    </div>
                    <div routerLinkActive="active" class="col-5 col-md-auto text-danger">
                        <a id="link" (click)="borrarLista($event)" class="btn btn-outline-danger btn-round">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body">
                <div class="row justify-content-around">
                    <div class="col-5 col-md-auto">
                        <div class="icon-big text-center icon-warning">
                            <i class="fa fa-paper-plane text-success"></i>
                        </div>
                    </div>
                    <div routerLinkActive="active" class="col-5 col-md-auto">
                        <a (click)="enviarLista()" class="btn btn-outline-success btn-round">Enviar Lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>