<div class="logo-header" data-background-color="blue">
    <a href="index.html" class="logo">
        <img src="assets/img/home/logo/logo.svg" width="100px" alt="navbar brand" class="navbar-brand">
    </a>
    <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i><fa-icon [icon]="faMenu"></fa-icon></i>
            </span>
        </button>
    <button class="topbar-toggler more"><i><fa-icon [icon]="faoption"></fa-icon></i></button>
    <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
                <i><fa-icon [icon]="faMenu"></fa-icon></i>
            </button>
    </div>
</div>