<div class="logo-header" data-background-color="blue">
    <a href="index.html" class="logo">
        <img src="assets/img/home/logo/logo.svg" width="100px" alt="navbar brand" class="navbar-brand">
    </a>
    <button class="navbar-toggler sidenav-toggler ml-auto">
        <h3>2</h3>
        <span class="navbar-toggler-icon">
            <i><fa-icon [icon]="faMenu"></fa-icon></i>
        </span>
    </button>
    <button class="topbar-toggler more" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"><i><fa-icon [icon]="faoption"></fa-icon></i></button>
    <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
            <h3>1</h3>
            <i><fa-icon [icon]="faMenu"></fa-icon></i>
        </button>
    </div>
</div>