<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title font-weight-bold">Mis Pedidos</h4>
                        <a class="btn btn-primary btn-round ml-auto" routerLink="/Cliente/Main/Negocios/All">
                            <i class="fa fa-plus"></i> Nuevo Pedido
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="add-row" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Negocio</th>
                                    <th class="text-center">Tiempo Estimado</th>
                                    <th class="text-center">Total a Pagar</th>
                                    <th class="text-center">Estado</th>
                                    <th class="text-center">Recibo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of misPedidos">
                                    <td class="text-center">{{item.fecha | date:'medium'}} </td>
                                    <td class="text-center">{{item.Lista.Detalle[0].Producto.Negocio.nombre}}</td>
                                    <td class="text-center">{{item.tiempoOrder}}</td>
                                    <td class="text-center">{{item.Lista.totalPagar |number:'1.2' }} $</td>
                                    <td class="text-center">{{item.estado}}</td>
                                    <td class="text-center"><a class="btn btn-success">Imprimir</a></td>
                                    <td class="text-center"><a class="btn btn-primary" (click)="detalles(item)" data-toggle="modal" data-target="#exampleModal">Ver</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title font-weight-bold" id="exampleModalLabel">Mi Lista de Compras</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <app-listado-cliente *ngIf="pedidoSeleccionado!=undefined" [pedido]="pedidoSeleccionado"></app-listado-cliente>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>