<div class="row justify-content-end">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fa fa-list text-success"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Revisa tu</p>
                            <p class="card-title">Lista
                                <p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div routerLinkActive="active" class="d-flex justify-content-center">
                    <!--Aqui para el link ^-->
                    <a routerLink="/Cliente/MainCliente/resumen-productos" class="btn btn-success btn-round">Ver Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>