@import '../../../../../assets/css/cliente/css/atlantis.css';
@import '../../../../../assets/css/cliente/css/demo.css';
.image {
    overflow: hidden;
    height: 200px;
    position: relative;
}

.avatar {
    width: 124px;
    height: 124px;
    border: 1px solid white-color;
    position: relative;
}

.author {
    text-align: center;
    text-transform: none;
    margin-top: -77px;
}