<div class="container">
    <div class="text-center">
        <fa-icon class="fa-4x" [icon]="faUser"></fa-icon>
        <h4>{{title}}</h4>
    </div>
    <hr>
</div>
<form [formGroup]="form" class="user">
    <div class="card-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='facorreo'></fa-icon></span>
            </div>
            <input formControlName="correo" type="email" class="form-control form-control-user" [(ngModel)]="personal.correo" [ngClass]="{'is-invalid':f.correo.errors && f.correo.invalid && f.correo.touched}" placeholder="Correo Electrónico" />
            <div *ngIf="f.correo.errors && (f.correo.invalid || f.correo.touched)" class="invalid-feedback">
                <div *ngIf="f.correo.errors.required">Su email es requerido</div>
                <div *ngIf="f.correo.errors?.pattern">Ingrese un email válido</div>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='fapassowrd'></fa-icon></span>
            </div>
            <input formControlName="password" type="password" class="form-control form-control-user" [(ngModel)]="personal.password" [ngClass]="{'is-invalid': f.password.errors && f.password.invalid && f.password.touched}" placeholder="Contraseña" />
            <div *ngIf="f.password.errors && (f.password.invalid || f.password.touched)" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Su contraseña es requerida</div>
            </div>

        </div>

    </div>
</form>
<hr>