<div class="loading" *ngIf="loading"></div>
<div class="page-inner" *ngIf="!loading">
    <app-search title="Negocios Cercanos" (mostrar)="Ocultar($event)"></app-search>
    <br><br>
    <div class="row" *ngIf="mostrarTarjetas">
        <div class="col-md-3" *ngFor="let item of negocios |paginate: {itemsPerPage: 4, currentPage: pageActual}; index as i">
            <app-negocio-card [negocio]="item"></app-negocio-card>
        </div>
    </div>
    <pagination-controls (pageChange)="pageActual = $event" autoHide="true" responsive="true" previousLabel="" nextLabel=""></pagination-controls>
</div>